<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css">
      body {
        background-color: lightblue;
        text-align: center
      }
    </style>
  </head>
  <body>
    <h1>See a mistake we made on our end? Edit this 'Shroom!</h1>
    <ul>

      <form action="/mushrooms/<%=index%>?_method=PUT" method="POST">
      <input type="text" name="name" placeholder="Edit Name">
      <input type="text" name="description" placeholder="Edit Description">
      <input type="url" name="img" placeholder="Edit Image URL">
      <input type="text" name="location" placeholder="Edit Location">
      <input type="submit" placeholder="Edit Mushroom">
      </form>

    </ul>

  </body>
</html>
