<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      body {
        background-color: #B09F84;
        color: black;
        list-style: none;
        text-align: center;
        font-size: 30px;
      }
      h1 {
        text-align: center;
        font-family: Palatino;
        font-style: italic;
        font-size: 40px;
      }
      h2 {
        text-align: center;
        font-family: Palatino;
        font-size: 20px;
      }
      h3 {
        text-align: center;
        font-family: Palatino;
        font-size: 20px;
      }
      img {
        border-radius: 35%
      }
    </style>
    <title></title>
  </head>
  <body>
    <h1><span>@OhMyMycophile</span><h1>
      <h2><span>"All fungi are edible. Some fungi are only edible once." -Terry Pratchett</span></h2>
        <h3><span>Whether you're an experienced forager or just beginning your foraging journey, remember to respect the earth you walk on. As always, take precautionary measures when foraging by adhering to local laws and guidelines. Rule of thumb: only forage with a professional or experienced mushroom forager (you can find some great foraging groups <a href="https://www.meetup.com/topics/mycology/">here</a>!) and if you are unsure, DO NOT risk it. For inquiries, <a href="https://namyco.org/clubs.php">consult with your local mycological association.</a> Have fun connecting back to the land and be safe!</span></h3>
        <h4>An Amateur's Guide to Popularly Foraged Fungi</h4>
        <h4>Recipes to Fuel the Foraging Soul</h4>

        <% for (let i = 0; i < allMushrooms.length; i++) { %>
          <div>
          <h4><%=allMushrooms[i].name%></h4>

            <a href="/mushrooms/<%=i%>"><img src="<%=allMushrooms[i].img%>"/></a>

          </div>
        <% } %>
  </body>
</html>
