<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style type="text/css">
      body {
        background-image: url("https://i.imgur.com/DBi3i57.png");
        text-align: center;

      }
      h1 {
        text-decoration: underline;
        font-style: italic;
      }
      img {
        border-radius: 40%
      }
      h2 span {
        background-color: lightpink;
        font-size: 35px;
        border-radius: 20px
      }
    </style>
    <title></title>
  </head>
  <body>
    <h2><span>Think We're Missing Something? Add a New Mushroom Here!</span></h2>
    <a href="/"><span>Main Menu</span></a>

    <form action="/mushrooms" method="POST">
        <input type="text" name="name" placeholder="Name"><br/>
        <input type="text" name="description" placeholder="Description"><br/>
        <input type="url"  name="img" placeholder="Image URL"><br/>
        <input type="text" name="location" placeholder="Location"><br/>
        <input type="submit" value="Create New Mushroom"/>
    </form>
  </body>
  </html>
