<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <h1><span>Add New Mushroom</span></h1>
    <a href="/"><span>Main Menu</span></a>
    <form action="/:id" method="POST">
        <input type="text" name="name" placeholder="Name"><br/>
        <input type="text" name="description" placeholder="Description"><br/>
        <input type="url"  name="img" placeholder="Image URL"><br/>
        <input type="text" name="location" placeholder="Location"><br/>
    </form>
  </body>
  </html>
