<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/app.css">
    <title></title>
  </head>
  <body>
    <h1><span>Oh My Mycophile!</span><h1>
    <a href="/:id">An Amateur's Guide to Popularly Foraged Fungi</a>
  </body>
</html>
