<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <h1><span>An Amateur's Guide to Popularly Foraged Fungi</span><h1>
    <a href="/mushrooms"><span>Back to Main Menu</span></a>
    <h2><span><%=mushrooms.name%></span></h2>
    <img src="<%=mushrooms.img%>"/>
    <h2><span>Description: <%=mushrooms.description%></span></h2>
    <h2><span>Location: <%=mushrooms.location%></span></h2>

  </body>
</html>
