<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
  </head>
  <body>
    <h1><span>An Amateur's Guide to Popularly Foraged Fungi</span><h1>
    <a href="/mushrooms"><span>Back to Main Menu</span></a>
    <h1><span><%=recipes.name%></span></h1>
    <img src="<%=recipes.img%>"/>
    <h2><span>Recipe: <%=recipes.recipe%></span></h2>

  </body>
</html>
